.entersite{
	color: white;
	margin-bottom: 0px;
}
.entersite:hover{
	cursor: pointer;
  	color: #979797;
}

.albumcover{
	width: 75%;
}

.buybutton{
	border-radius: 5px;
	height: 75px;
	width: 150px;
	margin-top: 25px;
	margin-right: 10px;
	margin-left: 10px;
}

.buybutton:hover{
	cursor: pointer;
}

.socialbtn{
	height: 100px;
	width: auto;
	margin: 100px 20px 0px 20px;
}
.tours{
	max-height: 450px;
	overflow: scroll;
	background-color: rgba(0, 0, 0, .2);
}

#map{
	background-color: silver;
}

.picSize{
	margin: 0 15px 40px 15px;
	height: 100px;
	width: 100px;
}

.float_right{
	float: right;
}

.footer_section{
	font-size: 12px;
}

.footer{
		text-align: center;
	margin-top: 40px;
}

.videoplayer{
	margin-top: 50px;
}

.contactInfo{
	margin-top: 100px;
}

.socialLink{
	color: white;
}

.socialLink:hover{
	cursor: pointer;
  	color: rgba(255, 255, 255, 0.8);
}